<!DOCTYPE html>
{% load staticfiles %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1"/>
    <meta name="author" content="SINDEVO THEMES"/>
    <meta name="description" content="wedding html template"/>
    <title>#TheHuntIsOver</title>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'style.css' %}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/intro.css' %}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/animsition.min.css' %}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/swipebox.css' %}"/>
    <link href='http://fonts.googleapis.com/css?family=Clicker+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Rouge+Script" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.themecarousel.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.transitions.css' %}">
</head>
<body>
<div id="container" class="container intro-effect-push animsition">

    <nav id="main_menu" class="menuwhite">
        <ul>
            <li><a class="selected fade-page" href="{% static 'index.html"><span data-hover="HOME">HOME</span></a></li>
            <li><a href="/wedding" class="fade-page"><span data-hover="THE WEDDING">THE WEDDING</span></a></li>
            <li><a href="/nashville" class="fade-page"><span data-hover="NASHVILLE GUIDE">NASHVILLE GUIDE</span></a></li>
            <li><a href="/rsvp" class="fade-page"><span data-hover="RSVP">RSVP</span></a></li>

        </ul>
    </nav>

    <header class="header" id="header">


        <div style="position:absolute;right:8%; bottom:5%;">
            <div class="title_date">#TheHuntIsOver</div>
        </div>

    </header>

    <button class="trigger downanimated bounce"><img src="{% static 'images/arrow-down.png' %}" alt="Scroll Down"
                                                     title="Scroll Down"/>
    </button>


    <div class="content">
        <!-- About Us -->
        <div>
            <!--<div id="about_home" class="section_centered">-->
            <!---->

            <!--<div class="centered_title">-->
            <!--<h2>OUR <span>love</span> STORY</h2>-->
            <!--<p class="under_title_descr"><span>Love is composed of a single soul inhabiting two bodies.</span></p>-->
            <!--</div>-->


            <!--<div class="about_section left12">-->
            <!--<div class="about_pic_container">-->

            <!--<div class="about_pic"><img src="{% static 'images/about_f.jpg" alt="" title=""/></div>-->
            <!--</div>-->
            <!--<h3>JENIFER PATTERSON</h3>-->
            <!--<p>Love is friendship that has caught fire. It is quiet understanding, sharing and forgiving. It is-->
            <!--loyalty through good and bad times. It settles for less than perfection and makes allowances for-->
            <!--human weaknesses.</p>-->
            <!--<ul class="socials_icons_listing">-->
            <!--<li><a href="#"><img src="{% static 'images/social/twitter.png" alt="" title=""/></a></li>-->
            <!--<li><a href="#"><img src="{% static 'images/social/youtube.png" alt="" title=""/></a></li>-->
            <!--<li><a href="#"><img src="{% static 'images/social/pinterest.png" alt="" title=""/></a></li>-->
            <!--</ul>-->
            <!--<a href="page.html" class="more_about fade-page">READ MORE</a>-->
            <!--</div>-->
            <!--<div class="about_section left12_last">-->
            <!--<div class="about_pic_container">-->

            <!--<div class="about_pic"><img src="{% static 'images/about_m.jpg" alt="" title=""/></div>-->
            <!--</div>-->
            <!--<h3>CAMERON RICHARDSON</h3>-->
            <!--<p>Friends can help each other. A true friend is someone who lets you have total freedom to be yourself-->
            <!-- - and especially to feel. Or, not feel. Whatever you happen to be feeling at the moment is fine with-->
            <!--them.</p>-->
            <!--<ul class="socials_icons_listing">-->
            <!--<li><a href="#"><img src="{% static 'images/social/twitter.png" alt="" title=""/></a></li>-->
            <!--<li><a href="#"><img src="{% static 'images/social/facebook.png" alt="" title=""/></a></li>-->
            <!--<li><a href="#"><img src="{% static 'images/social/google_plus.png" alt="" title=""/></a></li>-->
            <!--</ul>-->
            <!--<a href="page.html" class="more_about fade-page">READ MORE</a>-->
            <!--</div>-->

            <!--</div>-->
        </div>
        <!-- End of About Us -->

        <div id="countdown_home" class="countdown_container">
            <div class="countdown_container_inner block" data-move-y="200px" data-move-x="0px">
                <h2>WE'RE GETTING HITCHED IN:</h2>
                <div id="defaultCountdown"></div>
                <a href="/rsvp" class="countdown_rsvp fade-page">RSVP</a>
            </div>
        </div>

        <!-- End of Section Countdown -->
        <div>
            <!--<div class="section_centered">-->

            <!--<div class="centered_title">-->
            <!--<h2>LATEST <span>journal</span> STORIES</h2>-->
            <!--<p class="under_title_descr"><span>Love is composed of a single soul inhabiting two bodies.</span></p>-->
            <!--</div>-->

            <!--<div class="latest_posts">-->


            <!--<div class="blog_post left13 block" data-move-y="300px" data-move-x="-200px">-->
            <!--<div class="post_thumb"><img src="{% static 'images/thumbs/3.jpg" alt="" title=""/></div>-->
            <!--<ul class="post_social">-->
            <!--<li><a href="#"><img src="{% static 'images/social/facebook.png" alt="" title=""/></a></li>-->
            <!--<li><a href="#"><img src="{% static 'images/social/twitter.png" alt="" title=""/></a></li>-->
            <!--<li><a href="#"><img src="{% static 'images/social/google_plus.png" alt="" title=""/></a></li>-->
            <!--</ul>-->
            <!--<div class="post_date">20 JUNE 2016</div>-->
            <!--<h2><a href="blog-single.html" class="fade-page">His marriage proposal was amazing</a></h2>-->
            <!--<a href="blog-single.html" class="post_read_more fade-page">READ MORE</a>-->
            <!--</div>-->
            <!--<div class="blog_post left13 block" data-move-y="300px" data-move-x="0px">-->
            <!--<div class="post_thumb"><img src="{% static 'images/thumbs/5.jpg" alt="" title=""/></div>-->
            <!--<ul class="post_social">-->
            <!--<li><a href="#"><img src="{% static 'images/social/facebook.png" alt="" title=""/></a></li>-->
            <!--<li><a href="#"><img src="{% static 'images/social/twitter.png" alt="" title=""/></a></li>-->
            <!--<li><a href="#"><img src="{% static 'images/social/google_plus.png" alt="" title=""/></a></li>-->
            <!--</ul>-->
            <!--<div class="post_date">17 JUNE 2016</div>-->
            <!--<h2><a href="blog-single.html" class="fade-page">Our romantic honeymoon destination</a></h2>-->
            <!--<a href="blog-single.html" class="post_read_more fade-page">READ MORE</a>-->
            <!--</div>-->
            <!--<div class="blog_post left13_last block" data-move-y="300px" data-move-x="200px">-->
            <!--<div class="post_thumb"><img src="{% static 'images/thumbs/2.jpg" alt="" title=""/></div>-->
            <!--<ul class="post_social">-->
            <!--<li><a href="#"><img src="{% static 'images/social/facebook.png" alt="" title=""/></a></li>-->
            <!--<li><a href="#"><img src="{% static 'images/social/twitter.png" alt="" title=""/></a></li>-->
            <!--<li><a href="#"><img src="{% static 'images/social/google_plus.png" alt="" title=""/></a></li>-->
            <!--</ul>-->
            <!--<div class="post_date">09 JUNE 2016</div>-->
            <!--<h2><a href="blog-single.html" class="fade-page">Love is composed of a single soul, sharing and-->
            <!--forgiving</a></h2>-->
            <!--<a href="blog-single.html" class="post_read_more fade-page">READ MORE</a>-->
            <!--</div>-->

            <!--<div class="read_more_full"><a href="blog.html" class="fade-page"><span>VIEW ALL POSTS</span></a></div>-->

            <!--</div>-->
            <!--</div>-->
        </div>
        <!-- End of Section Blog -->


        <div class="carousel_container">
            <div class="section_centered">

                <div class="centered_title">
                    <h2>BRIDEMAIDS <span>and</span> GROOMSMEN</h2>
                    <p class="under_title_descr"><span></span></p>
                </div>

                <div id="weddingcarousel" class="owl-carousel">
                    <div class="carousel14">
                        <div class="carousel_pic_container">

                            <div class="carousel_pic"><img src="{% static 'images/mommy-cropped.jpg' %}" alt="" title=""/>
                            </div>
                        </div>
                        <h3>Johnna Wash</h3>
                        <p>Maid of Honor, Mom</p>
                    </div>
                    <div class="carousel14">
                        <div class="carousel_pic_container">

                            <div class="carousel_pic"><img src="{% static 'images/jennifer-cropped.jpg' %}" alt="" title=""/>
                            </div>
                        </div>
                        <h3>Jennifer Hunter</h3>
                        <p>Bride Sister-in-law</p>
                    </div>
                    <div class="carousel14">
                        <div class="carousel_pic_container">

                            <div class="carousel_pic"><img src="{% static 'images/Chelsea-cropped.jpg' %}" alt="" title=""/>
                            </div>
                        </div>
                        <h3>Chelsea Wallace</h3>
                        <p>Bride Sister-in-law to be</p>
                    </div>
                    <div class="carousel14">
                        <div class="carousel_pic_container">

                            <div class="carousel_pic"><img src="{% static 'images/Lilly-cropped.jpg' %}" alt="" title=""/>
                            </div>
                        </div>
                        <h3>Lilly Reynolds</h3>
                        <p>Best Friend</p>
                    </div>

                    <div class="carousel14">
                        <div class="carousel_pic_container">

                            <div class="carousel_pic"><img src="{% static 'images/Victoria-cropped.jpg' %}" alt="" title=""/>
                            </div>
                        </div>
                        <h3>Victoria Marrone</h3>
                        <p>Best Friend</p>
                    </div>
                    <div class="carousel14">
                        <div class="carousel_pic_container">

                            <div class="carousel_pic"><img src="{% static 'images/jake-cropped.jpg' %}" alt="" title=""/>
                            </div>
                        </div>
                        <h3>Jake Hall</h3>
                        <p>Best Man</p>
                    </div>
                    <div class="carousel14">
                        <div class="carousel_pic_container">

                            <div class="carousel_pic"><img src="{% static 'images/Ryan-Cropped.jpg' %}" alt="" title=""/>
                            </div>
                        </div>
                        <h3>Ryan Wallace</h3>
                        <p>Groom's Brother</p>
                    </div>
                    <div class="carousel14">
                        <div class="carousel_pic_container">

                            <div class="carousel_pic"><img src="{% static 'images/Austin-cropped.jpg' %}" alt="" title=""/>
                            </div>
                        </div>
                        <h3>Austin Hunter</h3>
                        <p>Groom's Brother-in-law to be</p>
                    </div>
                    <div class="carousel14">
                        <div class="carousel_pic_container">

                            <div class="carousel_pic"><img src="{% static 'images/Keith-Cropped.jpg' %}" alt="" title=""/>
                            </div>
                        </div>
                        <h3>Keith Nelson</h3>
                        <p>Groom's Friend</p>
                    </div>
                    <div class="carousel14">
                        <div class="carousel_pic_container">

                            <div class="carousel_pic"><img src="{% static 'images/Tommy-Cropped.jpg' %}" alt="" title=""/>
                            </div>
                        </div>
                        <h3>Tommy Veranchik</h3>
                        <p>Groom's Friend</p>
                    </div>
                </div>

            </div>
        </div>
        <!-- End of Section Bridemades -->
        <div>

            <!-- End of Section Photos -->
        </div>

        <div class="section_centered nopadding" style="padding-top: 5%">

            <div class="left13 infoblock block" data-move-y="300px" data-move-x="-200px">
                <h2>CEREMONY</h2>
                <div class="infoicon"><img src="{% static 'images/icons/church.png' %}" alt="" title=""/></div>
                <span class="uptitle" style="padding-top: 2%">3:30 - 4:15</span>
                Meadow Hill Farms <br>
                869 Bear Creek Pike, Columbia, TN 38401<br>
                Witness the union of Morgan & Adam at Meadow Hills Farms, located 40 minutes South of Downtown Nashville.
                <div class="read_more_paragraph"><a href="page.html" class="fade-page"><span>READ MORE</span></a></div>
            </div>
            <div class="left13 infoblock block" data-move-y="300px" data-move-x="0px">
                <h2>COCTAIL HOUR</h2>
                <div class="infoicon"><img src="{% static 'images/icons/glasses.png' %}" alt="" title=""/></div>
                <span class="uptitle" style="padding-top: 2%">4:15 - 5:30</span>
                Beer, Wine, & Moonshine<br>
                Enjoy the Bride & Groom's favorite drinks and snack on appitizers from Califarmia Food Truck
                while the newley- weds capture their first moments as husband & wife!
                <div class="read_more_paragraph"><a href="page.html" class="fade-page"><span>READ MORE</span></a></div>
            </div>
            <div class="left13_last infoblock block" data-move-y="300px" data-move-x="200px">
                <h2>DINNER</h2>
                <div class="infoicon"><img src="{% static 'images/icons/Fork and kive.png' %}" alt="" title=""/></div>
                <span class="uptitle" style="padding-top: 2%">5:30 - 7:00</span>
                Two Thompsons & Califarmia <br>
                Join us under the autumn sky while we feast on Two Tompson's fresh Southern Style and Califarmia's Farm Fresh California favorites.
                <div class="read_more_paragraph"><a href="page.html" class="fade-page"><span>READ MORE</span></a></div>
            </div>

        </div>

        <!-- End of Section Info -->

        <div id="footer">
            <div class="section_centered">

                <div class="footer_centered_title">
                    <h2>Adam <span>and </span> Morgan</h2>
                </div>

                <div class="footer_rsvp"><a href="rsvp.html" class="fade-page">RSVP NOW</a></div>


                <div class="footer_menu">
                <ul>
                    <li><a href="/" class="fade-page"><span>Home</span></a></li>
                    <li><a href="/wedding" class="fade-page"><span>The Wedding</span></a></li>
                    <li><a href="/nashville" class="fade-page"><span>Nashville Guide</span></a></li>
                    <li><a href="/Rsvp" class="fade-page"><span>RSVP</span></a></li>
                </ul>
            </div>

            </div>
        </div>
        <!-- End of Footer -->

    </div><!-- End of content-->


</div> <!--End of container-->
<!-- jQuery -->
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/animsition.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.countdown.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.swipebox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/velocity.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/classie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scrollheader.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.arctext.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.smoove.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
<script type="text/javascript">
$("#main_menu").menumaker({
format: "multitoggle",
sticky: true
});

</script>

<style>
.mobile_header{
    background-position: center;
}

</style>

<script type="text/javascript">
$( document ).ready(function() {      
    var isMobile = window.matchMedia("only screen and (max-width: 1300px)");
    if (isMobile.matches) {
        document.getElementById("header").className += " mobile_header";
    };

    if (!isMobile.matches) {
       $('.block').smoove({offset:'2%'});

    };

 });






</script>
</body>
</html>