<!DOCTYPE html>
{% load staticfiles %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1"/>
    <meta name="author" content="SINDEVO THEMES"/>
    <meta name="description" content="wedding html template"/>
    <title>#TheHuntIsOver</title>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'style.css' %}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/intro.css' %}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/animsition.min.css' %}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/swipebox.css' %}"/>
    <link href='http://fonts.googleapis.com/css?family=Clicker+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Rouge+Script" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.themecarousel.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.transitions.css' %}">
</head>
<body>
<div id="pagecontainer" class="animsition">

    <nav id="main_menu" class="menugray">
        <ul>
            <li><a href="/" class="fade-page"><span data-hover="HOME">HOME</span></a></li>
            <li><a href="/wedding" class="fade-page"><span data-hover="THE WEDDING">THE WEDDING</span></a></li>
            <li><a href="/nashville" class="selected fade-page"><span
                    data-hover="NASHVILLE GUIDE">NASHVILLE GUIDE</span></a>
            </li>
            <li><a href="/rsvp" class="fade-page"><span data-hover="RSVP">RSVP</span></a></li>

        </ul>
    </nav>

    <div class="section_centered">

        <div class="centered_title">
            <h2>Explore <span>our</span> City</h2>
            <p class="under_title_descr"><span>Visit some of our favorite places.</span></p>
        </div>

        <div class="latest_posts">

            {% for post in Guides %}

            <div class="blog_post left13">
                {% load cropping %}
                <div class="post_thumb"><img src="{% cropped_thumbnail post 'cropping' %}" alt="" title=""/></div>
                <ul class="post_social">
                    <li><a href="#"><img src="{% static 'images/social/facebook.png' %}" alt="" title=""/></a></li>
                    <li><a href="#"><img src="{% static 'images/social/twitter.png' %}" alt="" title=""/></a></li>
                    <li><a href="#"><img src="{% static 'images/social/google_plus.png' %}" alt="" title=""/></a></li>
                </ul>
                <div class="post_date">{{ post.posted|date:'M-d-y' }}</div>
                <h2><a href="{{ post.get_absolute_url }}" class="fade-page">{{ post.short_description }}</a></h2>
                <a href="{{ post.get_absolute_url }}" class="post_read_more fade-page">READ MORE</a>
            </div>
            {% endfor %}
            <div class="read_more_full"><a href="blog.html" class="fade-page"><span>LOAD MORE POSTS</span></a></div>

        </div>


    </div><!-- End of content-->

    <div id="footer">
        <div class="section_centered">

            <div class="footer_centered_title">
                <h2>Adam <span>and </span> Morgan</h2>
            </div>

            <div class="footer_rsvp"><a href="/rsvp" class="fade-page">RSVP NOW</a></div>


            <div class="footer_menu">
                <ul>
                    <li><a href="/" class="fade-page"><span>Home</span></a></li>
                    <li><a href="/wedding" class="fade-page"><span>The Wedding</span></a></li>
                    <li><a href="/nashville" class="fade-page"><span>Nashville Guide</span></a></li>
                    <li><a href="/Rsvp" class="fade-page"><span>RSVP</span></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- End of Footer -->

</div> <!--End of container-->
<!-- jQuery -->
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/animsition.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
<script type="text/javascript">
$("#main_menu").menumaker({
format: "multitoggle",
sticky: true
});




</script>
</body>
</html>